body {
    background: #d1bbafbb;
    height: 100hv;
    display: flex;
    align-items: center;
}
.form {
    top: 150px;
    margin: 0 auto;
    position: relative;
}
.input {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 350px;
}
/* .btn {
    background: gray;
    color: white;
} */
.card {
    margin: 20px;
}
.loading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


