body {
    background: #d1bbafbb;
    height: 100hv;
    display: flex;
    align-items: center;
}
.form {
    top: 100px;
    margin: 0 auto;
    position: relative;
}
input {
    padding: 60px 30px;
    font-size: 70px;
    border: none;
    border-radius: none;
}
/* .btn {
    background: gray;
    color: white;
} */
.card {
    margin-right: 20px;
    margin-bottom: 20px;
}
.loading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* ul {
    height: 80px;
    width: 100px;
}
li {
    height: 20px;
    width: 40px;
    background-color: green;
} */